.navbar {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 65px;
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

 .navigate_buttons {
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: rgb(77, 69, 66);
    color: white;
    transition-duration: 0.5s;
 }

 .navigate_buttons:hover {
    background-color: rgb(0, 204, 0);
 }

 .buttons:hover {
    background-color: black;
 }

 #BookNames{
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

#ChapterNames {
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.chapters {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.book_names {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.choose_button {
    background-color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.choose_button:hover {
    background-color: gold;
}

@media (max-width: 1260px) {
    .navbar {
        margin-left: 40px;
        margin-right: 40px;
    }
    .navigate_buttons {
        font-size: 16px;
        }
    }

@media (max-width: 910px ) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
    .navigate_buttons {
        font-size: 16px;  
    }
}

@media (max-width: 850px) {
   
    .chapters{
        margin-left: 5px;
    }

    #ChapterNames {
        margin-left: 0px;
    }

@media (max-width: 780px) {
    .navigate_buttons {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
}}

@media (max-width: 400px) {
    .navbar {
        margin-left: 0px;
        padding-left: 0px;
    }
    #BookNames {
        margin-left: 0px;
        padding-left: 0px;
        width: 150px;
        height: 30px;
    }        

    .navigate_buttons {
        display: none;
    }

    #ChapterNames {
        height: 30px;
        font-size: 18px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .choose_button {
        width: 40px;
        height: 30px;
        font-size: 16px;
    }
}
}