.navbar {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 65px;
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

 .navigate_buttons {
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(77, 69, 66);
    color: white;
    transition-duration: 0.5s;
 }

 .navigate_buttons:hover {
    background-color: rgb(0, 204, 0);
 }

 .buttons:hover {
    background-color: black;
 }

 #BookNames{
    margin-left: 10px;
    border-radius: 5px;
    height: 35px;
    text-align: center;
}

#ChapterNames {
    margin-left: 10px;
    border-radius: 5px;
    height: 35px;
    text-align: center;
}

.chapters {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.book_names {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.choose_button {
    background-color: white;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.choose_button:hover {
    background-color: gold;
}