<div class = "navbar">
  <button (click)="goToPreviousBook()" class="navigate_buttons">Previous book</button>
  <button (click)="goToPreviousChapter()" class="navigate_buttons">Previous chapter</button>
  <form class="book_names" [formGroup]="selectForm" >
    <label class="label">
      <select formControlName="bookName" (change)="getIndex($event)">
        <option *ngFor="let book of bibleInfo" [ngValue]="book.allChapters">{{book.Book}}</option>
      </select>
    </label>
    
    <label  class="chapters">
      <select formControlName="chapters" #chapterNumber>
        <option *ngFor="let chapters of chapters"> {{chapters}} </option>
      </select>
    </label>
  </form>
  <button class="choose_button" (click)="navigate(chapterNumber.value)">Go</button>
  <button (click)="nextChapter()" class="navigate_buttons">Next chapter</button>
  <button (click)="nextBook()" class="navigate_buttons"> Next book</button>
</div>
