<div class="starter_page">
    <h1 class="welcome"><fa-icon class="bibleIcon" [icon]="bibleIcon"></fa-icon> Welcome to KJV Bible <fa-icon class="bibleIcon" [icon]="bibleIcon"></fa-icon></h1>
    <button class="button" (click)="goToBibleApp()">Read! </button>
</div>
<hr>
<div class="sections">
    <div class="section_one"> <fa-icon class="fa-2x" [icon]="infoIcon"></fa-icon> The Bible is the most popular and copied book in the whole history of the ancient and modern world: <br> - almost 5 billion copies have been printed <br> - over 2,400 original old manuscripts <br> - translated almost into all languages</div>
    <div class="section_two"> Hebrews 4:12 <br> For the word of God is alive and active. Sharper than any double-edged sword, it penetrates even to dividing soul and spirit, joints and marrow; it judges the thoughts and attitudes of the heart.</div>
    <div class="section_three"><fa-icon class="fa-2x" [icon]="infoIcon"></fa-icon> The Bible was originally written in Hebrew, Aramaic and Greek in over 1500 years, by about 40 writers. It contains 66 books (39 in old testament and 29 in new testament). The best thing about The Bible is: It was written for you!</div>
</div>
